@import './variables.scss';

.row {
  display: flex;
}

.table {
  border-spacing: 0;
  width: fit-content;

  font-size: 14px;

  .table-row {
    border: $border;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
      border-bottom: $border;
      padding: 0;

      &:hover {
        background-color: #fff;
      }
    }

    &:hover {
      background-color: $lighter-grey;
    }

    td,
    th {
      border-bottom: $border;
      padding: 7px;

      &:first-child {
        width: 140px;
      }


      &:last-child {
        border-right: 0;
      }
    }

    td {
      &:first-child {
        text-align: right;
      }
    }
  }
}

.date {
  // display: flex;
  // width: 170px;

  // .date-day {
  //   min-width: 32px;
  //   max-width: 37px;
  // }

  // .date-full {
  //   width: 50px;
  //   text-align: center;
  // }

  // .date-time {
    // text-align: center;
  // }
}