@import './variables.scss';

.row {
  display: flex;
}

.table {
  border-spacing: 0;
  width: fit-content;

  font-size: 14px;

  .table-row {
    border: $border;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
      border-bottom: $border;
      padding: 0;

      &:hover {
        background-color: #fff;
      }
    }

    &:hover {
      background-color: $lighter-grey;

      td {
        border-right: 1px solid #fff;
      }
    }

    td,
    th {
      border-right: $border;
      border-bottom: $border;
      padding: 5px;

      &:first-child {
        min-width: 400px;
        max-width: 500px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.date {
  display: flex;
  width: 170px;

  .date-day {
    width: 30px;
    text-align: center;
  }

  .date-full {
    width: 90px;
    text-align: center;
    margin: auto;
  }

  .date-time {
    width: 40px;
    text-align: center;
  }
}